.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category {
    font-size: 30px;
    text-decoration: none;
}


.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-image {
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

